@model NewsletterBoxModel
@using Nop.Web.Models.Newsletter;

<div id="newsletter-subscribe-block" class="single-widget newsletter-subscribe-block">

    <div class="pre-footer-subscribe-box pull-right">
        <h2>@T("Newsletter.Subscribe")</h2>
        <form class="searchform">
            <div class="input-group">
                <input type="text" value="" placeholder="Enter email" name="NewsletterEmail" id="newsletter-email" class="form-control">     
                <span class="input-group-btn">
                    <button id="newsletter-subscribe-button" type="submit" class="btn btn-primary newsletter-subscribe-button">Subscribe</button>
                </span>                        
                @Html.ValidationMessageFor(x => x.NewsletterEmail)
            </div>
        </form>
        <span id="subscribe-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait...")</span>

        <p>Get the most recent updates from <br />our site and be updated your self...</p>
    </div>
</div>

<div id="newsletter-result-block" class="newsletter-result-block">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#newsletter-subscribe-button').click(function () {

            var email = $("#newsletter-email").val();
            var subscribeProgress = $("#subscribe-loading-progress");
            subscribeProgress.show();
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("SubscribeNewsletter"))",
                data: { "email": email },
                success: function (data) {
                    subscribeProgress.hide();
                    $("#newsletter-result-block").html(data.Result);
                    if (data.Success) {
                        $('#newsletter-subscribe-block').hide();
                        $('#newsletter-result-block').show();
                    }
                    else {
                        $('#newsletter-result-block').fadeIn("slow").delay(2000).fadeOut("slow");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to subscribe.');
                    subscribeProgress.hide();
                }
            });
            return false;
        });
    });
</script>
