.notifications
{
	position: fixed;
	height: 40px;
	width: 100%;
	top: 0px;
	left: 0;
	color: #FFF;
	/*background: #000;*/
	-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	z-index: 99;
}

	.notifications.error
	{
		background: #8A0707;
	}

	.notifications.success
	{
		background: #092E20;
	}

	.notifications p
	{
		text-align: center;
		padding: 10px 0;
	}

	.notifications .close
	{
		background: url(images/ico-close-notification-bar.png) no-repeat;
		width: 20px;
		height: 20px;
		cursor: pointer;
		margin: 10px 20px;
	}

	.notifications a
	{
		text-decoration: none;
		color: #FFF;
	}
    .notifications a:hover
	{
		text-decoration: none;
		color: #FE980F;
	}
