
body {
    color: #3e4d5c;
    direction: ltr;
    font: 400 13px "Open Sans",Arial,sans-serif;
}

/* AJAX LOADING INDICATOR */
.ajax-loading-block-window{position:fixed;top:40%;left:50%;width:128px;height:128px;overflow:hidden;z-index:1104;display:none;}
.ajax-loading-block-window .loading-image{position:absolute;top:0;left:0;width:128px;height:128px;background-image:url('images/ajax_loader_large.gif');}
.please-wait{background:url('images/ajax_loader_small.gif') no-repeat;padding-left:20px;}

body.ecommerce {
    background: none repeat scroll 0 0 #e5eaee;
}

.main-content-container {
    padding-top: 2px;
}

.product-page {    
    margin-right: 10px;
    padding: 10px;    
}

.product-main-image {
    margin-bottom: 2px;
}

.product-page-content { 
    padding: 20px 13px 0;    
}

.product-page .part-number{
    float:right;
    font-size:88%;
    color: #8e9ca8;
    text-transform:uppercase;
}

.product-item h3 {
    font-size: 90%;
    height: 55px;
}

img.centered {
   display: block;
   margin: auto auto;
 }

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    color: #696763;
}

.ui-widget {
    font-family: inherit;
    font-size: inherit;
}

/*BEGIN SLIDER*/

#slider {
    padding-bottom: 10px;
}

.carousel-indicators li {
    background: #C4C4BE;
}


.item {
    padding-left: 100px;
}


.pricing {
    position: absolute;
    right: 40%;
    top: 52%;
}

.girl {
    margin-left: 0;
}

.item h1 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 48px;
    margin-top: 30px;
}

    .item h1 span {
    }

.item h2 {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
    margin-top: 10px;
}

.item p {
    color: #363432;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.get {
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 23px;
}


.item button:hover {
}

.control-carousel {
    position: absolute;
    top: 50%;
    font-size: 60px;
    color: #C2C2C1;
}

.carousel-inner {
    background-color:#fff;
}

.carousel-inner img{
    max-height: 300px;
    max-width: 275px;
}

.right {
    right: 0;
}

/*END SLIDER*/

.error {
    color:#ff0000;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 5px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;    
    white-space: nowrap;
    text-decoration: none;
}

    .ui-menu-item > a.ui-corner-all img {
        padding-right:4px;
    }

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

.ui-corner-all.ui-state-focus {
    color:#64aed9;
}
